<strong>Olá, {{ student }}</strong>
<p>Sua matrícula acaba de ser realizada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ student }} <br />
  <strong>Plano: {{ plan }} </strong>  <br />
  <strong>Duração: {{duration }} meses</strong> <br />
  <strong>Total: R$ {{ price }}</strong> <br />
  <strong>Data de início: {{ start }} </strong> <br />
  <strong>Data de vencimento: {{ end }}</strong> <br />
  <br />
  <small>
    Seja bem vindo, Aproveite seu treino e tenha uma ótimo dia.
  </small>
</p>
